<div class="cart-container">
  <div class="position-fix cart">
    <div class="top-cart" id="empty-cart">
      <div id="empty-cart-body">
        <div id="empty-cart-text">
          <p>Your cart is empty.</p>
          <p>Add items to get started.</p>
        </div>
        <img id="cart-image" src="images/shopping-cart-of-checkered-design.png" alt="shopping-cart-of-checkered-design">
      </div>
    </div>
    <p class="checkout-btn" id="empty-checkout-btn"></p>
  </div>
</div>
