<footer class="footer">
  <div>
  <a href="" id= "footer-logo"><h1>TACO TAKEOUT</h1></a>
  <p>
    1 800 555 TACOS
    <br>
    555 Taco Street
    <br>
    Victoria BC
    <br>
    V8W 4C6
  </p>
  </div>
  <div id="social-logos">
    <i class="fab fa-facebook-f fa-lg"></i>
    <i class="fab fa-instagram fa-lg" ></i>
    <i class="fab fa-twitter fa-lg"></i>
  </div>
  <img src="/images/map.png" alt="map">
</footer>
