<header>
  <nav>
      <a href="/" id="logo"><h1>TACO TAKEOUT</h1></a>
    <div id="logo-image">
      <img src="/images/taco-icon.png" alt="taco-icon">
    </div>
    <div class="logout">
      <a href=""><p>Logout</p></a>
    </div>
  </nav>
</header>
