<header>
  <nav>
      <a href="" id="logo"><h1>TACO TAKEOUT</h1></a>
      <p>here i am, testing deployment.</p>
      <img src="images/taco-icon.png" alt="taco-icon">
      <a href=""><p>Logout</p></a>
  </nav>
</header>
