<article>
  <header>
    <h3>Menu Item</h3>
    <p>This is the menu item description. Here are the
      ingredients one, two and three. </p>
    <p id="price">$9.99</p>
    <button class="add-item-btn">Add item</button>
  </header>
  <img src="images/taco1.png" alt="">
</article>
