<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pending Orders</title>
  <%- include('partials/_head') %>
</head>

<body>
  <h1>This is the admin view. </h1>
  <form action="">
    <input type="number" class="wait-time">
    <input type="submit" value="submit" class="sms">
  </form>
</body>
</html>
