<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Sent</title>
   <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="page-container">
      <div id="order-sent-page" class="content-wrap">
        <i class="far fa-paper-plane fa-7x"></i>
        <h1>Your order is sent! <br>Waiting on the restaurant for confirmation… </h1>
      </div>
      <%- include('partials/_footer') %>
    </div>
  </body>
</html>
