<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Confirmation</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="page-container">
      <div id="order-confirmed-page" class="content-wrap">
        <i class="far fa-check-circle fa-7x"></i>
        <h1>Order confirmed! <br>Your order will be ready in x mins</h1>
      </div>
      <%- include('partials/_footer') %>
    </div>
  </body>
</html>
