/*** Cart ***/

.cart {
  box-shadow: 2px 0px #e8e6e6;
  border: solid 1px #e8e6e6;
  height: fit-content;
  width: 20.5em;
  border-radius: 30px;
  .top-cart {
    padding: 30px 30px 20px 30px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    .cart-head {
      color: $main-color;
      padding-bottom: 13px;
      font-size: 40px;
      font-weight: 400;
      font-family: 'Medula One', cursive;
    }
  }
}

#single-cart-admin {
  margin-left: 15px;
  margin-top: 15px;
  background-color: white;
}

.hide-empty {
  display: none;
}

#empty-cart-text {
  padding-bottom: 60px;
}

#cart-image {
  height: 100px;
  margin-bottom: 60px;
  width: 100px;
  margin-left: 30px;
}

#empty-cart {
  height: 272px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
}

#empty-cart-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

#empty-checkout-btn {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  color: black;
  padding-left: 0px;
}

.wait-time {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  width: 50px;
  margin-bottom: 20px;
  margin-right: 30px;
  color: red;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.sms {
  background-color: #1D1ECF;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-time {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  margin-left: 30px;
  p {
    margin-top: 15px;
    color: red;
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;

}

.admin-submit {
  display: flex;
  justify-content: center;
  background-color: #1D1ECF;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.remove-btn {
  background-color: white;
}

#cart-checkout {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

#cart-admin {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 280px;
}

.cart-container {
  padding-bottom: 40px;
  padding-right: 40px;
  margin-left: 5em;
  padding-top: 40px;
}

.cart-item {
  padding-bottom: 20px;
  font-size: 15px;
}

.remove-btn {
  color: red;
  border: none;
  padding-top: 5px;
}

.item-price {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 400;
  }
}

#align-item-name {
  margin-right: auto;
  padding-left: 15px;
}

.total-price {
  color: white;
  padding-right: 30px;
}

.checkout-btn {
  background-color: $main-color;
  height: 60px;
  padding-top: 17px;
  padding-left: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 0px #e8e6e6;
  display: flex;
  justify-content: space-between;

  .order-btn {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 652px) {
  .cart-container{
    margin-left: 6em;
  }
}

@media (min-width: 940px) {
.cart {
  box-shadow: 2px 0px #e8e6e6;
  border: solid 1px #e8e6e6;
  height: fit-content;
  width: 20.5em;
  border-radius: 30px;
  .top-cart {
    padding: 30px 30px 20px 30px;
    .cart-head {
      color: $main-color;
      padding-bottom: 13px;
      font-size: 40px;
      font-weight: 400;
      font-family: 'Medula One', cursive;
    }
  }
}

.position-fix {
  position: fixed;
  right: 25px;
  bottom: 250px;
}

#cart-checkout {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

#cart-admin {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 280px;
}

.cart-container {
  padding-bottom: 40px;
  padding-right: 40px;
  margin-left: 6em;
  padding-top: 40px;
}

.cart-item {
  padding-bottom: 20px;
  font-size: 15px;
}

.remove-btn {
  color: red;
  border: none;
  padding-top: 5px;
}

.item-price {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 400;
  }
}

.total-price {
  color: white;
  padding-right: 30px;
}

.checkout-btn {
  background-color: $main-color;
  height: 60px;
  padding-top: 17px;
  padding-left: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 0px #e8e6e6;
  display: flex;
  justify-content: space-between;

  .order-btn {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}
}

@media (min-width: 1000px) {
  .position-fix {
    position: fixed;
    right: 45px;
    bottom: 250px;
  }

  #cart-admin {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .position-fix {
    position: fixed;
    right: 70px;
    bottom: 250px;
  }
}

@media (min-width: 1170px) {
  .cart {
    box-shadow: 2px 0px #e8e6e6;
    border: solid 1px #e8e6e6;
    height: fit-content;
    width: 20.5em;
    border-radius: 30px;
    .top-cart {
      padding: 30px 30px 20px 30px;
      .cart-head {
        color: $main-color;
        padding-bottom: 13px;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Medula One', cursive;
      }
    }
  }

  .position-fix {
    position: fixed;
    right: 70px;
    bottom: 250px;
  }

  #cart-checkout {
    padding-top: 35px;
    display: flex;
    justify-content: center;
  }

  #cart-admin {
    padding-top: 35px;
    display: flex;
    justify-content: center;
  }

  .cart-container {
    padding-bottom: 40px;
    padding-right: 40px;
    margin-left: 6em;
    padding-top: 40px;
  }

  .cart-item {
    padding-bottom: 20px;
    font-size: 15px;
  }

  .remove-btn {
    color: red;
    border: none;
    padding-top: 5px;
  }

  .item-price {
    display: flex;
    justify-content: space-between;
    h3 {
      font-weight: 400;
    }
  }

  .total-price {
    color: white;
    padding-right: 30px;
  }

  .checkout-btn {
    background-color: $main-color;
    height: 60px;
    padding-top: 17px;
    padding-left: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 0px #e8e6e6;
    display: flex;
    justify-content: space-between;

    .order-btn {
      color: white;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
  }


@media (min-width: 1280px) {
.cart {
  box-shadow: 2px 0px #e8e6e6;
  border: solid 1px #e8e6e6;
  height: fit-content;
  width: 20.5em;
  border-radius: 30px;
  .top-cart {
    padding: 30px 30px 20px 30px;
    .cart-head {
      color: $main-color;
      padding-bottom: 13px;
      font-size: 40px;
      font-weight: 400;
      font-family: 'Medula One', cursive;
    }
  }
}

.position-fix {
  position: fixed;
  right: 70px;
  bottom: 250px;
}

#cart-checkout {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.cart-container {
  padding-bottom: 1700px;
  padding-right: 40px;
}

.cart-item {
  padding-bottom: 20px;
  font-size: 15px;
}

.remove-btn {
  color: red;
  border: none;
  padding-top: 5px;
}

.item-price {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 400;
  }
}

.total-price {
  color: white;
  padding-right: 30px;
}

.checkout-btn {
  background-color: $main-color;
  height: 60px;
  padding-top: 17px;
  padding-left: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 0px #e8e6e6;
  display: flex;
  justify-content: space-between;

  .order-btn {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}
}


@media (min-width: 1330px) {
.cart {
  box-shadow: 2px 0px #e8e6e6;
  border: solid 1px #e8e6e6;
  height: fit-content;
  width: 20.5em;
  border-radius: 30px;
  .top-cart {
    padding: 30px 30px 20px 30px;
    .cart-head {
      color: $main-color;
      padding-bottom: 13px;
      font-size: 40px;
      font-weight: 400;
      font-family: 'Medula One', cursive;
    }
  }
}

.position-fix {
  position: fixed;
  right: 70px;
  bottom: 250px;
}

#cart-checkout {
  padding-top: 35px;
}

.cart-container {
  padding-bottom: 885px;
  padding-right: 40px;
}

.cart-item {
  padding-bottom: 20px;
  font-size: 15px;
}

.remove-btn {
  color: red;
  border: none;
  padding-top: 5px;
  cursor: pointer;
}

.item-price {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 400;
  }
}

.total-price {
  color: white;
  padding-right: 30px;
}

.checkout-btn {
  background-color: $main-color;
  height: 60px;
  padding-top: 17px;
  padding-left: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 0px #e8e6e6;
  display: flex;
  justify-content: space-between;

  .order-btn {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}
}

@media (min-width: 1330px) {
  #cart-admin {
    margin-bottom: 40px;
  }
}
