// See: https://sass-lang.com/
@import 'partials/_variables';
@import 'header.scss';
@import 'footer.scss';
@import 'menuItems.scss';
@import 'cart.scss';
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightest-grey;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
}
